{% extends 'index.html' %}
{% block content %}
    <div class="row" id="parent_retard">
        {% if error %}
            <div class="alert alert-info" role="alert" id="retard_alarm">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true" onclick="document.getElementById('parent_retard').removeChild(document.getElementById('retard_alarm'))">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong> {{ error }} </strong>
            </div>
        {% endif %}
        <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 10px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Список домашних работ на проверку</h3>
                </div>
                {% for gah in get_all_homework %}
                    <div class="panel-body">
                        <p>Домашнее задание от пользователя {{ gah.login }} по уроку {{ gah.name }}№{{ gah.number }}: </p>
                        <p>{{ gah.text }}</p>
                    </div>
                    <div class="panel-footer">
                        <form method="POST" style="float: left; width: 50%;">
                            <input type="hidden" name="digress" value="{{ gah.id }}">
                            <button class="btn btn-danger">Отколонить</button>
                        </form>
                        <form method="POST" style="float: right; width: 50%;">
                            <input type="hidden" name="accept" value="{{ gah.id }}">
                            <button class="btn btn-success pull-right">Потвердить</button>
                        </form>
                    </div>
                {% else %}
                    <div class="panel-body">
                        <p>Пусто</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}